# **Task 1**

In [1]:
class Vehicle:
    def __init__(self, vehicle_id, brand, rent_per_day):
        self.vehicle_id = vehicle_id
        self.brand = brand
        self.rent_per_day = rent_per_day

    def display_details(self):
        print(f"Vehicle ID: {self.vehicle_id}")
        print(f"Brand: {self.brand}")
        print(f"Rent per day: RS {self.rent_per_day}")

    def calculate_rent(self, days):
        print(f"Total Rent For {self.brand} with ID {self.vehicle_id} for {days} Days: {self.rent_per_day * days}")


vehicle1 = Vehicle(1, "BMW", 24000)
vehicle2 = Vehicle(2, "Huawei", 20000)
vehicle1.display_details()
print("=========================================================")
vehicle2.display_details()
print("==========================================================")
vehicle1.calculate_rent(5)
print("==========================================================")
vehicle2.calculate_rent(5)

Vehicle ID: 1
Brand: BMW
Rent per day: RS 24000
=========================================================
Vehicle ID: 2
Brand: Huawei
Rent per day: RS 20000
==========================================================
Total Rent For BMW with ID 1 for 5 Days: 120000
==========================================================
Total Rent For Huawei with ID 2 for 5 Days: 100000

# **Task 2**

In [2]:
class Employee:
    def __init__(self, name, emp_id):
        self.name = name
        self.emp_id = emp_id


class FullTimeEmployee(Employee):
    def __init__(self, name, emp_id, monthly_salary):
        super().__init__(name, emp_id)
        self.monthly_salary = monthly_salary

    def calculate_salary(self):
        return self.monthly_salary * 12

class PartTImeEmpoyee(Employee):
    def __init__(self, name, emp_id, hours_worked, hourly_rate):
        super().__init__(name, emp_id)
        self.hours_worked = hours_worked
        self.hourly_rate = hourly_rate

    def calculate_salary(self):
        return self.hours_worked * self.hourly_rate

fullTimeEmployee = FullTimeEmployee('Jhethlal', 1200, 45000)
partTimeEmployee = PartTImeEmpoyee('Tipendra', 1400, 48, 200)

fSalary = fullTimeEmployee.calculate_salary()
pSalary = partTimeEmployee.calculate_salary()

print(f"Total Salary of {fullTimeEmployee.name} is {fSalary}.....")
print(f"Total Salary of {partTimeEmployee.name} is {pSalary}.....")

Total Salary of Jhethlal is 540000.....
Total Salary of Tipendra is 9600.....

# **Task 3**

In [3]:
class Student:
    def __init__(self, name, marks):
        self.name = name
        self.__marks = marks

    def set_marks(self, marks):
        self.__marks = marks

    def get_marks(self):
        return self.__marks

    def calculate_grade(self):
        if 85 <= self.__marks <= 100:
            return "A"
        elif 70 <= self.__marks < 85:
            return "B"
        elif 50 <= self.__marks < 70:
            return "C"
        elif 0 <= self.__marks < 50:
            return "Fail"

s1 = Student("Jhethalal", 100)
s2 = Student("Tipendra", 49)

grade1 = s1.calculate_grade()
grade2 = s2.calculate_grade()

print(f"Grade of {s1.name}: {grade1}")
print(f"Grade of {s2.name}: {grade2}")

Grade of Jhethalal: A
Grade of Tipendra: Fail